 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

header{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    color: #000;
}
header nav {
        position: relative;
        right: 30px;
}

header h1{
    position: relative;
    left: 20px;
}


#producto-contenedor {
    display: grid;
    margin: 90px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.card .card-image .card-title {
    color: dodgerblue;
    position: unset;
}  

.card{
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 25px 0px;
}


/* .card {
    max-width: 30%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

p{
    line-height: 1.5px;
}



.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .2s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px ;
}

.modal-active .modal-carrito{
    margin-top: 0;
}

.modal-carrito h3 {
    color: dodgerblue;
    padding-bottom: 5px;
}  */

